version: '3'
services:
  frontend:
    ports:
      - '8000:8000'
      - '24678:24678'
    build:
      context: './frontend'
  sparql-endpoint:
    ports:
      - '3000:3000'
    build:
     context: './sparql-endpoint'
